<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem">
  <img src="../../../assets/icons/pinterest.svg" alt="">
  <img src="../../../assets/icons/facebook.svg" alt="">
  <img src="../../../assets/icons/instagram.svg" alt="">
  <img src="../../../assets/icons/whatsapp.svg" alt="">
</div>
