.cart-image {
  width: 5rem;
  height: 5rem;
  margin-right: 3rem;
}

.cart-product-description {
  font-family: caviar_dreams_bold;
  font-weight: 500;
  font-size: 1rem;
  word-break: break-word;
  text-align: center;
}

.cart-title {
  border-bottom: 1px solid #000;
}

.cart-title span {
  font-family: sans_regular;
  font-size: 1rem;
  font-weight: 500;
}

.cart-price span{
  font-size: 1.5rem;
  font-weight: 600;
}

.cart-price {
}

.cart-quantity span {
  background-color: #000;
  color: #fff;
  padding: 0.2rem 0.6rem 0.2rem 0.6rem;
  border-radius: 1rem;
}

.cart-quantity button {
  border: none;
  background: none;
}
.cart-quantity button:focus {
  outline: none;
  box-shadow: none;
}

.title {
  margin: 4rem 0rem 1rem 0rem;
  font-size: 2rem;
  font-family: caviar_dreams_bold;
}

.cart-bottom {
  padding-top: 1rem;
  border-top: 1px solid #000;
}

.total span {
  font-size: 1.25rem;
  font-weight: 600;
}
.total mat-icon {
  margin-left: 3rem;
}

.continue-shopping span{
  color: #045EF9;
  font-family: caviar_dreams_bold;
}

/*Mobile css*/
.remove-item-mobile button {
  border: none;
  background: none;
}
.remove-item-mobile button span {
  font-size: 1rem;
  font-weight: 900;
  font-family: sans_regular;
}

.cart-image-mobile {
  width: 5rem;
  height: 5rem;
}

.cart-quantity-mobile span {
  background-color: #000;
  color: #fff;
  padding: 0.005rem 0.3rem 0.005rem 0.3rem;
  border-radius: 1rem;
}


.cart-quantity-mobile button {
  border: none;
  background: none;
}


.continue-shopping-mobile span{
  color: #045EF9;
  font-family: caviar_dreams_bold;
  font-size: 0.8rem;
}

.continue-shopping-mobile img{
  width: 2rem;
}
