<div class="component-content" fxLayout="column" fxLayoutGap="1rem">
  <div fxLayout="row">
    <div fxFlex="10%"></div>
    <span class="title">Shopping Cart</span>
  </div>

  <div fxLayout="row" fxShow.xs="false">
    <div fxFlex="10%"></div>
    <div class="cart-title" fxFlex fxLayout="row" fxLayoutAlign="start center">
      <span>Product</span>
    </div>
    <div class="cart-title" fxFlex fxLayout="row" fxLayoutAlign="center center">
      <span>Quantity</span>
    </div>
    <div class="cart-title" fxFlex fxLayout="row" fxLayoutAlign="end center">
      <span>Price</span>
    </div>
    <div fxFlex="10%"></div>
  </div>

  <ng-container *ngFor="let itemCart of cartItems">
    <div fxLayout="row" fxShow.xs="false">
      <div fxFlex="10%"></div>
      <div fxFlex="33" fxLayout="row" fxLayoutAlign="start center">
        <img class="cart-image" src="{{getCartItem(itemCart)?.picture}}" alt="">
        <span class="cart-product-description">{{getCartItem(itemCart)?.description}}</span>
      </div>
      <div class="cart-quantity" fxFlex="33" fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button (click)="removeItem(itemCart)">
          <mat-icon class="clickable">remove</mat-icon>
        </button>
        <span>{{itemCart?.quantity}}</span>
        <button mat-icon-button (click)="addItem(itemCart)">
          <mat-icon class="clickable">add</mat-icon>
        </button>
      </div>
      <div class="cart-price" fxFlex="33" fxLayout="row" fxLayoutAlign="end center">
        <mat-icon>euro</mat-icon>
        <span>{{itemCart.totalPrice}}</span>
      </div>
      <div fxFlex="10%"></div>
    </div>

    <div fxLayout="row" fxShow.xs="true" fxHide.gt-xs>
      <div fxFlex="5%"></div>
      <div fxFlex="90%">
        <div fxFlex="25%" fxLayout="row" fxLayoutAlign="center center">
          <img class="cart-image-mobile" src="{{getCartItem(itemCart)?.picture}}" alt="">
        </div>
        <div fxFlex="35%" fxLayout="row" fxLayoutAlign="center center">
          <span class="cart-product-description" fxFill>{{getCartItem(itemCart)?.name}}</span>
        </div>

        <div class="cart-quantity-mobile" fxFlex="25%" fxLayout="row" fxLayoutAlign="center center">
          <button mat-icon-button (click)="removeItem(itemCart)">
            <mat-icon class="clickable">remove</mat-icon>
          </button>
          <span>{{itemCart?.quantity}}</span>
          <button mat-icon-button (click)="addItem(itemCart)">
            <mat-icon class="clickable">add</mat-icon>
          </button>
        </div>
        <div class="remove-item-mobile" fxLayout="row" fxFlex="15%" fxLayoutAlign="center center">
          <button mat-icon-button (click)="removeWholeItem(itemCart)">
            <span>X</span>
          </button>
        </div>
      </div>
      <div fxFlex="5%"></div>
    </div>
  </ng-container>

  <div fxLayout="row" fxShow.xs="false">
    <div fxFlex="10%"></div>
    <div fxFlex class="cart-bottom" fxLayout="row">
      <div fxFlex="50%" fxLayout="row" fxLayoutAlign="start center" class="continue-shopping" fxLayoutGap="1rem">
        <img src="../../../assets/icons/left-arrow.svg" alt="">
        <span class="clickable-text" (click)="goToHome()">Continue Shopping</span>
      </div>
      <div fxFlex="50%" fxLayout="row" class="total" fxLayoutAlign="end center">
        <span>Total</span>
        <mat-icon>euro</mat-icon>
        <span>{{getTotal()}}</span>
      </div>
    </div>
    <div fxFlex="10%"></div>
  </div>

  <div fxLayout="row" fxShow.xs="true" fxHide.gt-xs>
    <div fxFlex="5%"></div>
    <div fxFlex class="cart-bottom" fxLayout="row">
      <div class="total" fxFlex fxLayout="row" fxLayoutAlign="end center">
        <span>Total</span>
        <mat-icon>euro</mat-icon>
        <span>{{getTotal()}}</span>
      </div>
    </div>
    <div fxFlex="5%"></div>
  </div>

  <div fxLayout="row" fxShow.xs="false">
    <div fxFlex="10%"></div>
    <div fxFlex fxLayout="row">
      <div fxFlex fxLayout="row" fxLayoutAlign="end center">
        <button
                (click)="goToCheckout()"
                style="background-color:#0A0A0A;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
                role="link"
                class="clickable"
                type="button">
          Checkout
        </button>
      </div>
    </div>
    <div fxFlex="10%"></div>
  </div>

  <div fxLayout="row" fxShow.xs="true" fxHide.gt-xs>
    <div fxFlex="10%"></div>
    <div fxFlex fxLayout="row">
      <div fxFlex="80%" fxLayout="row" fxLayoutAlign="start center" class="continue-shopping-mobile" fxLayoutGap="1rem" (click)="goToHome()">
        <img src="../../../assets/icons/left-arrow.svg" alt="">
        <span class="clickable-text">Continue Shopping</span>
      </div>

      <div fxFlex="20%" fxLayout="row" fxLayoutAlign="end center">
        <button
                (click)="goToCheckout()"
                style="background-color:#0A0A0A;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
                role="link"
                class="clickable"
                type="button">
          Checkout
        </button>
      </div>
    </div>
    <div fxFlex="10%"></div>
  </div>

</div>
