<div class="component-content" #componentContent fxLayout="column">
  <div fxShow.xs="false" class="slogan-container" fxLayout="row">
    <div fxFlex="10%" fxLayout="row" fxLayoutAlign="center center">
      <app-contact></app-contact>
    </div>
    <div class="slogan" fxFlex="80%" fxLayout="row">
      <div class="slogan-content" fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="row" fxLayoutAlign="center center">
          <span class="title">Welcome to our world</span>
        </div>
        <div fxLayout="row">
          <span class="subtitle">Our goal is to improve your lifestyle, bringing quality decorations into your home.</span>
        </div>
      </div>
      <div class="slogan-image" fxFlex="50%">
        <img src="../../../assets/images/slogan_image.png" alt="">
      </div>
    </div>
    <div fxFlex="10%" fxLayout="row"></div>
  </div>
  <div fxShow.xs="true" fxHide.gt-xs class="slogan-container-mobile" fxLayout="row">
    <div class="slogan-mobile" fxFlex="grow" fxLayout="row">
      <div class="slogan-content" fxFlex="50%" fxLayout="column" fxLayoutAlign="start center">
        <div class="title-wrapper-mobile" fxLayout="row" fxLayoutAlign="start">
          <span class="title">Welcome to our world</span>
        </div>
        <div fxLayout="row">
          <span class="subtitle">Our goal is to improve your lifestyle, bringing quality decorations into your home.</span>
        </div>
      </div>
      <div fxFlex="50%">
        <img src="../../../assets/images/slogan_image.png" alt="">
      </div>
    </div>
  </div>


  <app-item-list></app-item-list>

</div>


