.item-card {
  font-size: 1.5rem;
  font-weight: 500;
}

.slogan-container {
  height: 20rem;
  margin: 5rem 1rem 5rem 1rem;
}

.slogan-container-mobile {
  height: 20rem;
  margin: 5rem 0rem 1rem 0rem;
}

.slogan {
  background-color: #F2EDE8;
}

.slogan img {
  height: 100%;
  width: 65%;
  min-width: 20rem;
}

.slogan div.slogan-content div {
  padding: 1rem;
  width: 100%;
  text-align: center;
  max-width: 30rem;
}

.slogan .title {
  font-size: 2rem;
  word-break: break-word;
  display: contents;
  font-family: caviar_dreams_bold;
}

.slogan .subtitle {
  word-break: break-word;
  display: contents;
  color: rgba(10, 10, 10, 0.40);
  font-weight: 400;
  font-family: sans_regular;
  font-size: 1.3rem;
}


/*Mobile*/
.slogan-mobile {
  background-color: #F2EDE8;
}

.slogan-mobile div.slogan-content div {
  width: 100%;
  text-align: center;
}

.slogan-mobile .title {
  font-size: 1.5rem;
  white-space:nowrap;
  display: contents;
  font-family: caviar_dreams_bold;
}

.slogan-mobile .subtitle {
  word-break: break-word;
  display: contents;
  color: rgba(10, 10, 10, 0.40);
  font-weight: 400;
  font-family: sans_regular;
  font-size: 1.3rem;
}

.slogan-mobile img {
  height: 100%;
  width: 100%;
}

.title-wrapper-mobile {
  position: relative;
  margin: 1.5rem 0rem 1.5rem 2rem;
}
