.content {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 8px solid #0A0A0A;
}

.main-content {
  position: relative;
  overflow: hidden;
  background-image: url("../assets/images/BackgroundBars.svg");
  background-size: 100rem;
  background-position-x: -10rem;
  background-repeat: no-repeat;
}

.main-content-mobile {
  position: relative;
  overflow: hidden;
  background-image: url("../assets/images/BackgroundBars.svg");
  background-size: 60rem;
  background-position-x: -5rem;
  background-position-y: 15rem;
  background-repeat: no-repeat;

}

.top-navbar .buttons {
  height: 7rem;
}


.top-navbar .buttons button {
  background-color: whitesmoke;
  border: none;
  font-size: 1.5rem;
}

.top-navbar .buttons button:hover {
  cursor: pointer;
}

.logo  {
  height: 100%;
  width: 100%;
  max-width: 20rem;
}

.item-number {
  font-size: 0.5rem;
  background-color: #000;
  width: 0.5rem;
  color: #FFFFFF;
  float: right;
  margin: 1.55rem 1rem 1rem 0.4rem;
  padding: 3.5px;
  text-align: center;
  border-radius: 10px;
  position: absolute;
}

.top-navbar {
  margin-top: 1rem;
}
