<div fxFlex="grow" class="content" fxLayout="column">
  <div fxFlex="15%" fxShow.xs="false" fxLayout="row" fxLayoutAlign="center center" class="top-navbar">
    <div fxFlex fxLayout="row" >
        <div fxFlex="60%" fxLayout="row">
          <div fxFlex fxLayout="column">
            <img class="logo clickable" (click)="goToHome()" src="../assets/images/test-logo.png" alt="">
          </div>
        </div>
        <div fxFlex class="buttons" fxLayout="column" fxLayoutAlign="space-evenly center">
          <div fxLayout="row" fxLayoutAlign="space-evenly center" fxFill>
            <button>about us</button>
            <button>faq</button>
            <button mat-icon-button (click)="goToCart()">
              <div fxLayout="column">
                <mat-icon class="clickable" svgIcon="cart">
                </mat-icon>
                <span class="item-number">{{itemNumber}}</span>
              </div>
            </button>
          </div>
        </div>
    </div>
  </div>
  <div fxFlex="15%" fxShow.xs="true" fxHide.gt-xs fxLayout="row" fxLayoutAlign="center center" class="top-navbar">
    <div fxFlex fxLayout="row" >
      <div fxFlex="80%" fxLayout="row">
        <div fxFlex fxLayout="column">
          <img class="logo clickable" (click)="goToHome()" src="../assets/images/test-logo.png" alt="">
        </div>
      </div>
      <div fxFlex class="buttons" fxLayout="column" fxLayoutAlign="space-evenly center">
        <div fxLayout="row" fxLayoutAlign="space-evenly center" fxFill>
          <button mat-icon-button (click)="goToCart()">
            <div fxLayout="column">
              <mat-icon class="clickable" svgIcon="cart">
              </mat-icon>
              <span class="item-number">{{itemNumber}}</span>
            </div>
          </button>
          <mat-icon class="clickable" [matMenuTriggerFor]="menu">menu</mat-icon>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>About us</button>
            <button mat-menu-item>Faq</button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="85%" ngClass.xs="main-content-mobile" ngClass.gt-xs="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
