.item-container {
  height: 100%;
  margin: 5rem 1rem 5rem 1rem;
}

.item {
  background-color: #F2EDE8;
}

.item img {
  height: 100%;
  width: 65%;
  min-width: 20rem;
  max-height: 30rem;
}

.item div.item-content div {
  padding: 1rem;
  width: 100%;
  text-align: center;
  max-width: 30rem;
}

.item div.item-content div.add-to-cart-wrapper {
  width: 100%;
  text-align: center;
  max-width: 30rem;
}

.add-to-cart {
  background-color: #000;
  color: #F2EDE8;
  width: fit-content;
  font-size: 1rem;
  font-family: serif;
  border: 1px solid #000;
}

.item .item-name {
  font-size: 2rem;
  word-break: break-word;
  display: contents;
  font-family: caviar_dreams_bold;
}

.item .item-description {
  word-break: break-word;
  display: contents;
  color: rgba(10, 10, 10, 0.40);
  font-weight: 400;
  font-family: sans_regular;
  font-size: 1.3rem;
}

.item-card {
  width: fit-content;
  margin: 1.5rem;
}

.item-card img {
  width: 15rem;
  height: 12.5rem;
}

.item-card-mobile {
  width: fit-content;
  margin: 0.75rem;
}

.item-card-mobile img {
  width: 7.5rem;
  height: 6.25rem;
}

.item-name {
  font-family: caviar_dreams_bold;
}

/*Mobile CSS*/

.item-name-mobile {
  font-family: caviar_dreams_bold;
  font-weight: 500;
  font-size: 1rem;
  border-bottom: 1px solid #000;
}

.item-container-mobile {
  margin-top: 3rem;
}

.item-image-mobile {
  height: 100%;
  width: 100%;
}

.item-price-mobile span {
  font-family: sans_regular;
  font-size: 1.3rem
}

.item-price-mobile mat-icon {
  font-size: 1.5rem
}

.add-to-cart-wrapper-mobile {
  margin-bottom: 1rem;
}

.item-description-mobile {
  word-break: break-word;
  display: contents;
  color: rgba(10, 10, 10, 0.40);
  font-weight: 400;
  font-family: sans_regular;
  font-size: 1rem;
}
