<div class="component-content" fxLayout="column">
  <div fxShow.xs="false" class="item-container" fxLayout="row">
    <div fxFlex="10%" fxLayout="row" fxLayoutAlign="center center">
      <app-contact></app-contact>
    </div>
    <div class="item" fxFlex="80%" fxLayout="row">
      <div class="item-content" fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="row" fxLayoutAlign="center center">
          <span class="item-name">{{item?.name}}</span>
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="2rem">
          <span class="item-description">{{item?.description}}</span>
        </div>
        <div class="add-to-cart-wrapper" fxLayout="row" fxFlexAlign="end center" fxLayoutAlign="center center">
          <button (click)="addToCart(item)" class="add-to-cart clickable">Add to cart</button>
          <mat-icon>add_shopping_cart</mat-icon>
        </div>
      </div>
      <div class="item-image" fxFlex="50%" fxLayoutAlign="center center">
        <img [src]="item?.picture" alt="">
      </div>
    </div>
    <div fxFlex="10%" fxLayout="row"></div>
  </div>

  <div fxLayout="column" fxShow.xs="true" class="item-container-mobile" fxHide.gt-xs fxLayoutGap="1rem">
    <div fxLayout="row">
      <div fxFlex="15%"></div>
      <div fxFlex="75%">
        <span class="item-name-mobile">{{item?.name}}</span>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="15%" fxLayout="row"></div>
      <div fxFlex="70%" fxLayout="row">
        <img class="item-image-mobile" [src]="item?.picture" alt="">
      </div>
      <div fxFlex="15%" fxLayout="row"></div>
    </div>

    <div fxLayout="row">
      <div fxFlex="15%" fxLayout="row"></div>
      <div fxFlex="70%" fxLayout="row">
        <span>{{item?.description}}</span>
      </div>
      <div fxFlex="15%" fxLayout="row"></div>
    </div>

    <div fxLayout="row">
      <div fxFlex="15%" fxLayout="row"></div>
      <div class="item-price-mobile" fxFlex="70%" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>euro</mat-icon>
        <span>{{item?.price}}</span>
      </div>
      <div fxFlex="15%" fxLayout="row"></div>
    </div>

    <div fxLayout="row">
      <div fxFlex="15%" fxLayout="row"></div>
      <div fxFlex="70%" fxLayout="row" fxLayoutAlign="start center">
        <div class="add-to-cart-wrapper-mobile" fxLayout="row" fxFlexAlign="end center" fxLayoutAlign="center center">
          <button (click)="addToCart(item)" class="add-to-cart clickable">Add to cart</button>
          <mat-icon>add_shopping_cart</mat-icon>
        </div>
      </div>
      <div fxFlex="15%" fxLayout="row"></div>
    </div>
  </div>

  <div fxLayout="row" fxShow.xs="false">
    <div fxFlex="15%"></div>
    <h4>Similar Products</h4>
  </div>

  <div fxLayout="row" fxShow.xs="false">
    <div fxFlex="10%" fxLayout="row"></div>
    <div class="list-items-wrapper" fxFlex="70%" fxLayout="row wrap" fxLayoutAlign="start">
      <ng-container *ngIf="similarItems && similarItems.length > 0">
        <ng-container *ngFor="let item of similarItems">
          <div (click)="setNewItem(item)" class="item-card clickable" fxFlex fxLayout="column" fxLayoutAlign="center center" fxFlexOffset="2rem">
            <img [src]="item.picture">
            <span class="item-name">{{item.name}}</span>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div fxFlex="15%" fxLayout="row"></div>
  </div>
</div>
