/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: caviar_dreams_bold;
  src: url(assets/fonts/CaviarDreams_Bold.ttf) format("opentype");
}
@font-face {
  font-family: sans_regular;
  src: url(assets/fonts/OpenSans-Regular.ttf) format("opentype");
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100%;
  background: #F5F5F5 0% 0% no-repeat padding-box;
  opacity: 1;
}

.clickable:hover {
  cursor: pointer;
}

.clickable-text:hover {
  color: #0030def2 !important;
  cursor: pointer;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.component-content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box !important;
  -webkit-overflow-scrolling: touch;
}

div[fxLayout="column"]>div[fxFlex]{
  flex: 1 0 auto !important;
}
