<div fxLayout="column" fxLayoutGap.gt-xs="2rem">

  <div fxShow.xs="false" fxLayout="row">
    <div fxFlex="15%" fxLayout="row"></div>
    <div fxFlex="70%" fxLayout="row" fxLayoutAlign="space-around center">
      <ng-container *ngFor="let category of categories">
        <span [ngClass]="selectedCategory === category.id ? 'filter-selected' : 'filter'" class="clickable-text" (click)="onSelectCategory(category.id)">{{category.name}}</span>
      </ng-container>
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
        </mat-form-field>
        <mat-icon>search</mat-icon>
      </div>
    </div>
    <div fxFlex="15%" fxLayout="row"></div>
  </div>

  <div fxLayout="column" fxShow.xs="true" fxHide.gt-xs>
    <div  fxLayout="row">
      <div fxFlex fxLayout="row" fxLayoutAlign="space-around center">
        <ng-container *ngFor="let category of categories">
          <span [ngClass]="selectedCategory === category.id ? 'filter-selected' : 'filter'" class="clickable-text" (click)="onSelectCategory(category.id)">{{category.name}}</span>
        </ng-container>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxShow.xs="true" fxHide.gt-xs>
    <span class="products-title">Our Products</span>
  </div>
  <div fxLayout="row" fxShow.xs="true" fxHide.gt-xs fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
        </mat-form-field>
        <mat-icon>search</mat-icon>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxShow.xs="false">
    <div fxFlex="15%" fxLayout="row"></div>
    <div class="list-items-wrapper" fxFlex="70%" fxLayout="row wrap" fxLayoutAlign="start">
      <ng-container *ngIf="items && itemList.length > 0">
        <ng-container *ngFor="let item of itemList">
          <div (click)="goToItemDetails(item)" class="item-card clickable" fxFlex fxLayout="column" fxLayoutAlign="center center" fxFlexOffset="2rem">
            <img [src]="item.picture">
            <span class="item-name">{{item.name}}</span>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div fxFlex="15%" fxLayout="row"></div>
  </div>

  <div fxLayout="row" fxShow.xs="true" fxHide.gt-xs>
    <div class="list-items-wrapper" fxFlex fxLayout="row wrap" fxLayoutAlign="start">
      <ng-container *ngIf="items && itemList.length > 0">
        <ng-container *ngFor="let item of itemList">
          <div (click)="goToItemDetails(item)" class="item-card-mobile clickable" fxFlex fxLayout="column" fxLayoutAlign="center center" fxFlexOffset="2rem">
            <img [src]="item.picture">
            <span class="item-name">{{item.name}}</span>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
