

.list-items-wrapper {
}

.filter {
  margin: 1rem 2rem 1rem 2rem;
  color: #00000052;
  font-family: sans_regular;
}

.filter-selected {
  margin: 1rem 2rem 1rem 2rem;
  color: #000;
  font-family: sans_regular;
}

.item-card {
  width: fit-content;
  margin: 1.5rem;
}

.item-card img {
  width: 15rem;
  height: 12.5rem;
}

.item-card-mobile {
  width: fit-content;
  margin: 0.75rem;
}

.item-card-mobile img {
  width: 7.5rem;
  height: 6.25rem;
}

.item-name {
  font-family: caviar_dreams_bold;
  text-align: center;
}

.products-title {
  font-family: caviar_dreams_bold;
  font-weight: 500;
  border-bottom: 1px solid #000;
  margin-left: 1.5rem;
  font-size: 1.50rem;
  margin-bottom: 1.5rem;
}
